@tailwind base;
@tailwind components;
@tailwind utilities;

@import './tokens.css';
@import './components.css';

@layer base {
    html,
    body {
        margin: 0;
        padding: 0;
    }

    body,
    p,
    span {
        @apply font-sans;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-serif;
    }
}

@layer components {
    .ds-root {
        @apply font-sans;
        color: var(--semantic-text-primary);
        background: var(--color-palette-surface-default);
    }
}
